*{
    text-decoration-color: powderblue;
}
.header{
    text-align:center;
    color: darkviolet;

}
.designs{
color:lightpink;
display:flex;

    justify-content:space-evenly;
}
.facts{
color:black;
}
.footer{
color:darkmagenta;
}
p{
    
}